@{
    ViewData["Title"] = "Closed Orders";
}

@model IEnumerable<HospitalityGCP.Models.ViewModelOrderDetails>

<h1>Closed & Cancelled Orders</h1>
<br />
@await Component.InvokeAsync("OrdersList", "Closed")
