@{
    ViewData["Title"] = "Edit Room";
}

@model HospitalityGCP.Models.Rooms


<form asp-action="EditRoom">
    <h1>Edit room or breakout area</h1>
    <fieldset>
        <legend>
        </legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoomID" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" asp-for="RoomDesc"></label>
                    <input aria-label="Room Description" class="form-control" asp-for="RoomDesc" required />
                    <span asp-validation-for="RoomDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RFD" /> @Html.DisplayNameFor(model => model.RFD)
                        </label>
                    </div>
                    <span asp-validation-for="RFD" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <input aria-label="Save Changes" type="submit" value="Save Changes" class="btn btn-lg btn-success" />
        <a aria-label="Cancel edit of rooms" class="btn btn-lg btn-warning" asp-controller="Admin" asp-action="Rooms">Cancel</a>
    </fieldset>
</form>
