@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1><br />

<h2 style="font-size:20px;">To contact the caterer about ordering or about an existing order email:</h2>
<a href="mailto:hospitality_dft@dft.gov.uk">Hospitality DfT</a><br /><br />

<h2 style="font-size:20px;">To send feedback about the system email:</h2>
<a href="mailto:dsdevelopmentfeedback@dft.gov.uk">DS Development Feedback</a><br /><br />

<h2 style="font-size:20px;">If something breaks or you are having trouble using the system email:</h2>
<a href="mailto:dsdevelopmentsupport@dft.gov.uk">DS Development Support</a>
